Repository JoeyMckenzie/madprops.gg: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, pint, rector

eslint:
  tags: frontend styles
  run: npm run lint {staged_files}
  stage_fixed: true

pint:
  tags: backend styles
  run: composer run fmt {staged_files}
  stage_fixed: true

rector:
  tags: rector run
  run: composer run rector {staged_files}
  stage_fixed: true

chore: wip
  phpstan.neon
  resources/js/components/props/MadPropHeader.vue
  resources/js/components/props/MadPropsGrid.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/ProfileHeader.vue
Due: eslint

chore: wip
  resources/js/components/ui/toast/Toast.vue
  resources/js/components/ui/toast/ToastAction.vue
  resources/js/components/ui/toast/ToastClose.vue
  resources/js/components/ui/toast/ToastDescription.vue
  resources/js/components/ui/toast/ToastProvider.vue
  resources/js/components/ui/toast/ToastTitle.vue
  resources/js/components/ui/toast/ToastViewport.vue
  resources/js/components/ui/toast/Toaster.vue
  resources/js/components/ui/toast/index.ts
  resources/js/components/ui/toast/use-toast.ts
  resources/js/layouts/AuthenticatedLayout.vue
  resources/js/pages/profile/partials/UpdatePasswordForm.vue
  resources/js/pages/profile/partials/UpdateProfileInformationForm.vue
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
Due: eslint

chore: wip
  resources/js/components/mad-props/MadPropHeader.vue
  resources/js/components/mad-props/MadPropInvitation.vue
  resources/js/components/mad-props/MadPropsGrid.vue
  resources/js/pages/profile/Show.vue
Due: eslint

chore: wip
  config/database.php
  database/.gitignore
  database/backups/.gitkeep
Due: pint, rector

chore: wip
  database/seeders/PropSeeder.php
Due: pint, rector

chore: wip
  LICENSE.md
Due: none

chore: update seed
  database/seeders/DatabaseSeeder.php
Due: pint, rector

feat: add social profile validation and avatar upload
  README.md
  app/Http/Controllers/ProfileAvatarController.php
  app/Http/Controllers/ProfileController.php
  app/Http/Controllers/ProfileDisplaySocialsController.php
  app/Http/Controllers/ProfileSocialsController.php
  app/Http/Requests/Profile/ProfileAvatarUpdateRequest.php
  app/Http/Requests/Profile/ProfileInformationUpdateRequest.php
  app/Http/Requests/Profile/ProfileSocialsUpdateRequest.php
  app/Http/Rules/SocialProfileUsernameRule.php
  composer.lock
  database/factories/UserFactory.php
  database/seeders/DatabaseSeeder.php
  package-lock.json
  phpunit.xml
  resources/css/app.css
  resources/js/components/ui/textarea/Textarea.vue
  resources/js/components/ui/textarea/index.ts
  resources/js/pages/profile/Edit.vue
  resources/js/pages/profile/partials/ProfileHeader.vue
  resources/js/pages/profile/partials/UpdateProfileInformationForm.vue
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
  resources/js/pages/profile/partials/UpdateUserAvatarForm.vue
  routes/web.php
  scripts/setup.sh
  tests/Arch.php
  tests/Feature/Profile/ProfileAvatarTest.php
  tests/Feature/Profile/ProfileInformationTest.php
  tests/Feature/Profile/ProfileSocialsTest.php
  tests/Unit/ExampleTest.php
  tests/Unit/Rules/SocialProfileUsernameTest.php
Due: eslint, pint, rector

chore: wip
  app/Http/MadPropController.php
  resources/js/components/mad-props/MadPropInvitation.vue
  resources/js/pages/mad-props/Create.vue
  routes/web.php
Due: eslint, pint, rector

chore: wip
  app/Http/MadPropController.php
  resources/js/components/PinkaryIcon.vue
  resources/js/components/mad-props/MadPropHeader.vue
  resources/js/components/ui/calendar/Calendar.vue
  resources/js/components/ui/calendar/CalendarCell.vue
  resources/js/components/ui/calendar/CalendarCellTrigger.vue
  resources/js/components/ui/calendar/CalendarGrid.vue
  resources/js/components/ui/calendar/CalendarGridBody.vue
  resources/js/components/ui/calendar/CalendarGridHead.vue
  resources/js/components/ui/calendar/CalendarGridRow.vue
  resources/js/components/ui/calendar/CalendarHeadCell.vue
  resources/js/components/ui/calendar/CalendarHeader.vue
  resources/js/components/ui/calendar/CalendarHeading.vue
  resources/js/components/ui/calendar/CalendarNextButton.vue
  resources/js/components/ui/calendar/CalendarPrevButton.vue
  resources/js/components/ui/calendar/index.ts
  resources/js/components/ui/popover/Popover.vue
  resources/js/components/ui/popover/PopoverContent.vue
  resources/js/components/ui/popover/PopoverTrigger.vue
  resources/js/components/ui/popover/index.ts
  resources/js/components/ui/range-calendar/RangeCalendar.vue
  resources/js/components/ui/range-calendar/RangeCalendarCell.vue
  resources/js/components/ui/range-calendar/RangeCalendarCellTrigger.vue
  resources/js/components/ui/range-calendar/RangeCalendarGrid.vue
  resources/js/components/ui/range-calendar/RangeCalendarGridBody.vue
  resources/js/components/ui/range-calendar/RangeCalendarGridHead.vue
  resources/js/components/ui/range-calendar/RangeCalendarGridRow.vue
  resources/js/components/ui/range-calendar/RangeCalendarHeadCell.vue
  resources/js/components/ui/range-calendar/RangeCalendarHeader.vue
  resources/js/components/ui/range-calendar/RangeCalendarHeading.vue
  resources/js/components/ui/range-calendar/RangeCalendarNextButton.vue
  resources/js/components/ui/range-calendar/RangeCalendarPrevButton.vue
  resources/js/components/ui/range-calendar/index.ts
  resources/js/components/ui/toast/index.ts
  resources/js/layouts/AuthenticatedLayout.vue
  resources/js/pages/mad-props/Create.vue
  resources/js/pages/mad-props/partials/CreateMadPropForm.vue
  resources/js/pages/profile/partials/ProfileHeader.vue
  resources/js/pages/profile/partials/ProfileSocials.vue
  resources/js/pages/profile/partials/UpdateProfileInformationForm.vue
Due: eslint, pint, rector

Update components.json
  components.json
Due: eslint

Path conditions:
  eslint: any of: *.{js,json,ts,vue}
  pint: any of: *.php
  rector: any of: *.php
