Repository JoeyMckenzie/madprops.gg: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, phpstan

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

phpstan:
  tags: backend style
  run: composer run lint {staged_files}
  stage_fixed: true

chore: wip
  lefthook.yml
Due: none

chore: wip
  composer.json
  composer.lock
  database/seeders/DatabaseSeeder.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/Components/ApplicationLogo.vue
  resources/js/Components/ui/separator/Separator.vue
  resources/js/Components/ui/separator/index.ts
  resources/js/Layouts/GuestLayout.vue
  resources/js/Pages/Auth/ForgotPassword.vue
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/Pages/landing/Index.vue
  resources/js/ssr.ts
  storage/debugbar/.gitignore
  tsconfig.json
  vite.config.ts
Due: eslint, phpstan

chore: wip
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/Components/FloatingDropdown.vue
  resources/js/Components/ThemeToggle.vue
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Layouts/GuestLayout.vue
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/landing/partials/Hero.vue
Due: eslint, phpstan

chore: wip
  resources/css/app.css
  resources/js/Components/FloatingDropdown.vue
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Pages/Dashboard.vue
Due: eslint

chore: wip
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  composer.json
  database/factories/UserFactory.php
  lefthook.yml
  resources/js/Pages/Auth/Login.vue
Due: eslint, phpstan

chore: wip
  app/Http/Controllers/Auth/NewPasswordController.php
Due: phpstan

chore: wip
  database/migrations/0001_01_01_000000_create_users_table.php
  public/svg/logoipsum-332.svg
  public/svg/logoipsum_dark.svg
  public/svg/logoipsum_light.svg
  resources/js/Components/ApplicationLogo.vue
  resources/js/Components/FloatingDropdown.vue
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Profile/Edit.vue
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.vue
Due: eslint, phpstan

chore: wip
  resources/js/Components/FloatingDropdown.vue
Due: eslint

chore: wip
  resources/css/app.css
  resources/js/Components/ApplicationLogo.vue
  resources/js/Layouts/GuestLayout.vue
  resources/js/Pages/Auth/ForgotPassword.vue
  resources/js/Pages/Welcome.vue
  routes/web.php
Due: eslint, phpstan

chore: wip
  resources/js/Components/Checkbox.vue
  resources/js/Pages/Profile/Edit.vue
  resources/js/Pages/Profile/Partials/DeleteUserForm.vue
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.vue
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.vue
Due: eslint

chore: wip
  app/Http/Middleware/HandleInertiaRequests.php
  app/Utilities/ApplicationVersion.php
  composer.json
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Pages/Profile/Edit.vue
  resources/js/Pages/Profile/Partials/UpdateUserAvatarForm.vue
  resources/js/Pages/Welcome.vue
  resources/js/Pages/landing/partials/Navbar.vue
  routes/web.php
Due: eslint, phpstan

chore: wip
  app/Http/Controllers/ProfileController.php
  app/ValueObjects/UserProp.php
  composer.json
  composer.lock
  config/typescript-transformer.php
  resources/js/Components/DropdownMenu.vue
  resources/js/Components/profile/ProfileHeader.vue
  resources/js/Components/prop/PropCard.vue
  resources/js/Components/prop/PropCardBoard.vue
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Pages/Profile/Show.vue
  resources/js/types/generated.d.ts
  routes/web.php
Due: eslint, phpstan

chore: wip
  .github/dependabot.yml
  .github/workflows/ci.yml
  app/Data/UserData.php
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/ProfileController.php
  app/Http/Controllers/PropController.php
  app/Http/Requests/ProfileUpdateRequest.php
  app/Http/Requests/StorePropRequest.php
  app/Models/Prop.php
  app/Models/User.php
  app/Policies/PropPolicy.php
  app/ValueObjects/UserProp.php
  composer.json
  composer.lock
  database/factories/PropFactory.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2024_10_18_190623_create_props_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/PropSeeder.php
  lefthook.yml
  package.json
  resources/js/Components/profile/ProfileHeader.vue
  resources/js/Components/prop/PropCard.vue
  resources/js/Components/prop/PropCardBoard.vue
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Layouts/GuestLayout.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.vue
  resources/js/Pages/Profile/Partials/UpdateUserAvatarForm.vue
  resources/js/Pages/Profile/Show.vue
  resources/js/Pages/Welcome.vue
  resources/js/types/generated.d.ts
  resources/js/types/index.d.ts
  routes/web.php
Due: eslint, phpstan

chore: wip
  .github/workflows/ci.yml
Due: none

chore: wip
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Policies/PropPolicy.php
  database/factories/PropFactory.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/ProfileTest.php
Due: phpstan

chore: wip
  app/Models/Prop.php
  app/Models/User.php
  composer.lock
Due: phpstan

chore: wip
  composer.json
Due: eslint

chore: wip
  .github/workflows/ci.yml
  composer.json
Due: eslint

chore: wip
  .env.ci
Due: none

chore: wip
  .github/workflows/ci.yml
  package-lock.json
Due: eslint

chore: wip
  .github/workflows/ci.yml
  config/inertia.php
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/js/Components/prop/PropCard.vue
  todo.md
Due: eslint, phpstan

chore: wip
  resources/js/app.ts
  resources/js/ssr.ts
Due: eslint

chore: wip
  app/Http/Middleware/HandleInertiaRequests.php
  app/Utilities/ApplicationVersion.php
  resources/js/Pages/Auth/Register.vue
  vite.config.ts
Due: eslint, phpstan

chore: wip
  .github/workflows/ci.yml
  resources/js/app.ts
  resources/js/ssr.ts
  tsconfig.json
Due: eslint

chore: wip
  resources/js/components/props/PropCard.vue
  resources/js/components/props/PropCardBoard.vue
  resources/js/pages/auth/ConfirmPassword.vue
  resources/js/pages/auth/ForgotPassword.vue
  resources/js/pages/auth/Login.vue
  resources/js/pages/auth/Register.vue
  resources/js/pages/auth/ResetPassword.vue
  resources/js/pages/auth/VerifyEmail.vue
  resources/js/pages/profile/Edit.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/DeleteUserForm.vue
  resources/js/pages/profile/partials/UpdatePasswordForm.vue
  resources/js/pages/profile/partials/UpdateProfileInformationForm.vue
  resources/js/pages/profile/partials/UpdateUserAvatarForm.vue
Due: eslint

feat: add socials
  app/Data/UserData.php
  app/Models/User.php
  composer.json
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/js/components/ui/switch/Switch.vue
  resources/js/components/ui/switch/index.ts
  resources/js/pages/auth/Login.vue
  resources/js/pages/auth/ResetPassword.vue
  resources/js/pages/profile/Edit.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
  resources/js/types/generated.d.ts
  resources/js/types/index.d.ts
Due: eslint, phpstan

feat: add display socials toggle
  app/Http/Controllers/ProfileSocialsController.php
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
  routes/web.php
Due: eslint, phpstan

feat: add social updates
  app/Http/Controllers/ProfileDisplaySocialsController.php
  resources/js/pages/profile/partials/UpdatePasswordForm.vue
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
  routes/web.php
Due: eslint, phpstan

chore: auth cleanup
  resources/js/pages/auth/ConfirmPassword.vue
  resources/js/pages/auth/ForgotPassword.vue
  resources/js/pages/auth/VerifyEmail.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/ProfileHeader.vue
Due: eslint

chore: cleanup
  resources/js/components/Checkbox.vue
  resources/js/components/DangerButton.vue
  resources/js/components/Dropdown.vue
  resources/js/components/DropdownLink.vue
  resources/js/components/InputLabel.vue
  resources/js/components/Modal.vue
  resources/js/components/NavLink.vue
  resources/js/components/PrimaryButton.vue
  resources/js/components/ResponsiveNavLink.vue
  resources/js/components/SecondaryButton.vue
  resources/js/components/TextInput.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/DeleteUserForm.vue
  resources/js/types/generated.d.ts
Due: eslint

chore: wip
  app/Console/Commands/PerformDatabaseBackupCommand.php
  app/Data/UserData.php
  app/Http/Controllers/ProfileController.php
  config/database.php
  resources/js/components/PinkaryIcon.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/ProfileHeader.vue
  resources/js/pages/profile/partials/ProfileSocials.vue
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
  resources/js/types/generated.d.ts
  routes/console.php
Due: eslint, phpstan

chore: wip
  app/Console/Commands/PerformDatabaseBackupCommand.php
Due: phpstan

chore: wip
  app/Data/MadPropData.php
  app/Data/UserData.php
  app/Http/Controllers/ProfileController.php
  app/Http/Controllers/ProfileSocialsController.php
  app/Http/Controllers/PropController.php
  app/Models/MadProp.php
  app/Models/User.php
  database/factories/MadPropFactory.php
  database/migrations/2024_10_18_190623_create_mad_props_table.php
  database/seeders/DatabaseSeeder.php
  resources/js/components/props/PropCard.vue
  resources/js/components/props/PropCardBoard.vue
  resources/js/pages/profile/Show.vue
  resources/js/pages/profile/partials/UpdateSocialsForm.vue
  resources/js/types/generated.d.ts
Due: eslint, phpstan

Path conditions:
  eslint: any of: *.{js,json,ts,vue}
  phpstan: any of: *.php
